a {
  color: unset;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 15px;
}

.map-wrapper #map-container {
  width: 80vw;
  height: 20vw;
  max-height: 200px;
}
